:root{
    --aquablue: rgb(65, 84, 255);
    --white: rgb(224, 224, 224);
}

/*For birthday  project*/
.box{
    width: 250px;
    margin: 0%;
    padding: 0%;
}

.h11{
    float: left;
}

.h12{
    float: left;
    position: relative;
    top: 20px;
    left: 20px;
}

/*For travel tour project OSTALO DA SE POZICIONIRA RENDEROVANJE KARTICA*/
.title{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
}

.titleLine{
    border-top: 4px solid var(--aquablue);
    width: 120px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    /* margin-bottom: 30%; PROVERI KAKO IZGLEDA GAP NAKON RENDEROVANJA KARTICA */
}

.titleButton{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10%;
}

.titleButton button{
    background-color: var(--aquablue);
    font-size: larger;
    font-weight: bold;
}

.cardButton{
    position: relative;
    left: 50%;
    transform: translate(-19%);
}

.cardButton button{
    background-color:white;
    border-color: red;
    border-radius: 6px;
    color: red;
    width: 35%;
    height: 35px;
    padding-top: 0;
    font-size: large;
}

.cardButton button :hover{
    color: red;
    background-color: white;
    border-color: red;
}

.price{
    float: right;
}

.cardTray{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}
/* Reviews */

.reviewsButtons button{
    background-color: transparent;
    border: var(--white);
    color: black;
    margin-bottom: 10px;
}

#mainCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.randomButton{
    background-color: white;
    text-decoration: none;
    color: black;
    font-style: oblique;
    cursor:pointer;
}